<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siscompal.clarorecarga">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".app.AppClase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BancosActivity"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity"/>
        </activity>
        <activity
            android:name=".ui.UltimasRecargas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".HomeActivity">

            <!-- SOPORTE PARA VERSIONES 4.0 O MENORES -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:parentActivityName=".MainActivity" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />

        <activity
            android:name=".ui.paquetes.claro.RealizarPaquetesClaro"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".ui.paquetes.tigo.RealizarPaquetesTigo" />
        <activity android:name=".ui.paquetes.virgin.RealizarPaquetesVirgin" />
        <activity android:name=".ui.paquetes.etb.RealizarPaquetesEtb" />
        <activity android:name=".ui.pines.RealizarPines" />
        <activity android:name=".ui.paquetes.avantel.RealizarPaquetesAvantel" />
        <activity android:name=".ui.paquetes.movistar.RealizarPaquetesMovistar" />
        <activity android:name=".ui.paquetes.exito.RealizarPaquetesExito" />
        <activity android:name=".ui.paquetes.kalley.RealizarPaquetesKalley" />
        <activity android:name=".ui.paquetes.wings.RealizarPaquetesWings" />
        <activity
            android:name=".ui.paquetes.PaquetesActivity"
            android:parentActivityName=".HomeActivity">

            <!-- SOPORTE PARA VERSIONES 4.0 O MENORES -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>